///////////////////////-|-|  |-|-/
// general ignores
.*.swp
.*.log
.config/[cC]hromium
.config/transmission
.config/ranger/history
.config/geany/*_0
.vim
// end: general ignores
///////////////////////-----------------------/

